<table class="tbM">
    <tbody>
        <tr class="trM">
            <td><a class="aMu sAMu" href="#" title="دعوت از دوستان برای بازدید فروشگاه شما از طریق ایمیل">دعوت از دوستان با ایمیل</a></td>
        </tr>
        <tr class="trM">
            <td><a class="aMu" href="#" title="دعوت از دوستان برای بازدید فروشگاه شما از طریق پیامک">دعوت از دوستان با پیامک</a></td>
        </tr>
        <tr class="trM">
            <td><a class="aMu" href="#" title="دعوت از دوستان برای بازدید فروشگاه از طریق ایمیل خودم">دعوت با ایمیل شخصی</a></td>
        </tr>
        <tr class="trM">
            <td><a class="aMu" href="@Url.Action("BusinessOwnerRequestList", "Bridge_BusinessOwner_Marketer", null, "https")" title="">دعوت به بازاریابی با ایمیل</a></td>
        </tr>
        <tr class="trM">
            <td><a class="aMu" href="@Url.Action("BusinessOwnerRequestList", "Bridge_BusinessOwner_Marketer", null, "https")" title="">دعوت به بازاریابی با پیامک</a></td>
        </tr>
        <tr class="trM">
            <td><a class="aMu" href="@Url.Action("BusinessOwnerRequestList", "Bridge_BusinessOwner_Marketer", null, "https")" title="راهنمای سایر روش های تبلیغات در فضای مجازی">سایر روش های تبلیغات</a></td>
        </tr>
        <tr class="trM">
            <td><a class="aMu" href="@Url.Action("BusinessOwnerRequestList", "Bridge_BusinessOwner_Marketer", null, "https")" title="پاسخ به درخواست های بازاریابی">درخواست های بازاریابی</a></td>
        </tr>
        <tr class="trM">
            <td><a class="aMu" href="@Url.Action("BusinessOwnerRequestList", "Bridge_BusinessOwner_Marketer", null, "https")" title="آمار بازدید از فروشگاه و محصولات شما به تفکیک مراجعه از سایت ها و بازایابها ">آمار بازدید ها</a></td>
        </tr>
    </tbody>
</table>
