@using DataLayer
@using DataLayer.EF
@using DataLayer.Enums
@using UILayer.Miscellaneous
@using UILayer.Views

@model User
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutUser2.cshtml";
}

@{ //Local variable difine
    //UILayer.Views.BasePartialModel varBasePartialModel;
    //var ajaxOption = new AjaxOptions { LoadingElementId="capImg",UpdateTargetId="capImg"};
}
@{

    using (Html.BeginForm("EditUser", "User", null, FormMethod.Post, false, new { id = "EditorRowForm" }))
    {

        @Html.Label("نام")
        @Html.TextBox("Name", Model.Name, new { @id = "Name", @onblur = JavaScript.StringValidation("Name", 1, 50) })
        <br />



        @Html.Label(UIUtility.ResourceManager.GetString("Email"))
        @Html.TextBox("Email", Model.Email, new
       {
           @id = "Email",
           @title = "نام ایمیل در سایت نمی تواند تکراری باشد",
          @onblur = JavaScript.emailValidate("Email"),
          @onchange = JavaScript.AjaxValidateEmailStr("Email", Url.Action("ValidateRepeatEmail", "User"), "ایمیل مورد نظر قبلا ثبت شده است")
       })
        <br />


        @Html.Label("موبایل")
        @Html.TextBox("Mobile", Model.Mobile, new { @id = "Mobile", @onblur = JavaScript.ValidationNumberLength("Mobile", 11, 14) })
        <br />

        @Html.Label("کلمه عبور فعلی")
        @Html.Password("Password", Model.Password, new { @id = "Password", @onblur = JavaScript.StringValidation("Password", 1, 29) })
        <br />
        <span>کاربر گرامی در صورتی که قصد تغییر کلمه عبور را ندارید از پر کردن فیلدهای زیر خوداری نمایید </span>
        <br />
        @Html.Label("کلمه عبور جدید ")
        @Html.Password("NewPassword", Model.Password, new { @id = "NewPassword", @onblur = JavaScript.StringValidation("NewPassword", 0, 30) })
        <br />

        @Html.Label("تکرار کلمه عبور جدید")
        @Html.Password("ReNewPassword", "", new { @id = "ReNewPassword", @onblur = JavaScript.ValidationRepeatField("NewPassword", "ReNewPassword") })
        <br />




        <input type="submit" value="ذخیره تغییرات" />
        <br />

    }

}