@using DataLayer.EF
@using DataLayer.Enums
@using UILayer.Miscellaneous
@using UILayer.Views


@{
    ViewBag.Title = "";
  
}




<div class="login_page_bg">
    <div class="container">
        <div class="customer_login">
            <div class="row">
                <!--register area start-->
                <div class="col-lg-6 col-md-6">
                    <div class="account_form register">
                        <h2>بازیابی پسورد</h2>
                        <form enctype="multipart/form-data" method="post" asp-action="RecoveryPassword">

                            @if (!string.IsNullOrWhiteSpace(ViewBag.forgetMessage))
                            {
                                <p>
                                    <span Id="ErrSp"> @ViewBag.forgetMessage</span>
                                </p>
                            }
                            <p>
                                <label>شماره موبایل <span>*</span></label>
                                <input type="text" dir="ltr" placeholder="0912XXXXXXX" name="mobile">
                            </p>

                            <div class="login_submit">
                                <button type="submit"> ارسال پسورد</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--register area end-->
                <!--login area start-->
                <div class="col-lg-6 col-md-6">
                    <div class="account_form login">
                        <h2>فعال سازی حساب کاربری</h2>
                        @if (ViewBag.ViewMode != null && ViewBag.ViewMode == "activeFirst")
                        {
                            <form enctype="multipart/form-data" method="post" asp-action="SendActivationCode">
                                @if (ViewBag.message != null)
                                {
                                    <p>
                                        <span Id="ErrSp"> @ViewBag.message</span>
                                    </p>
                                }
                                <p>
                                    <label>شماره موبایل <span>*</span></label>
                                    <input type="text" dir="ltr" placeholder="0912XXXXXXX" name="mobile" value="@(ViewBag.mobile!= null ? ViewBag.mobile: "" )">
                                </p>

                                <div class="login_submit">
                                    <button type="submit">ارسال کد فعال سازی</button>
                                </div>
                            </form>
                        }
                        else
                        {
                    <form enctype="multipart/form-data" method="post" asp-action="ActivateUser">
                        @if (ViewBag.message != null)
                        {
                            <p>
                                <span Id="ErrSp"> @ViewBag.message</span>
                            </p>
                        }
                        <input type="hidden" dir="ltr" placeholder="0912XXXXXXX" name="mobile" value="@(ViewBag.mobile)">
                        <p>
                            <label>کد فعال سازی <span>*</span></label>
                            <input type="text" dir="ltr" name="activateCode" value="">
                        </p>

                        <div class="login_submit">
                            <button type="submit">ارسال کد </button>
                        </div>
                    </form>
                        }
                    </div>
                </div>
                <!--login area start-->

            </div>
        </div>
    </div>
</div>

