@model DataLayer.EF.User

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisterDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisterDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IpComputerCreator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IpComputerCreator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentInvoice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentInvoice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ative)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ative)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AtivationCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AtivationCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IpComputerLast)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IpComputerLast)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkRoleNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkRoleNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Family)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Family)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkProvince)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkProvince)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IpComputer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IpComputer)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">برگشت به لیست</a>
</div>
