
@using DataLayer.EF
@using DataLayer.Enums
@using UILayer.Miscellaneous
@using UILayer.Views
@{
    ViewBag.Title = "پاسخ";
    Layout = "~/Views/Shared/_LayoutUser2.cshtml";
}
@model IEnumerable<Comment>

@{
    var comment = (Comment)ViewData["Qusetion"];
}
@{
    <br />

    <div class="LinHrd">
        <span>سوال یا پیبشنهاد</span> <br />
        <span>@comment.TextValue</span>
    </div>
    <br />
    foreach (Comment item in Model)
    {
        <div class="LinLgt">
            <span>پاسخ یا نظر</span>  <br />
            @item.TextValue
        </div>


    }

    using (Html.BeginForm("AddAnswer", "Comment", "https", FormMethod.Post,false, new { id = "EditorRowForm" }))
    {
        @Html.Hidden("FK_Comment", comment.Id)

        <table class="tb">
            <tr class="tr1">
                <td class="td1">ایمیل:</td>
                <td class="td2">
                    @Html.TextBox("KeyWord", "", new { @id = "KeyWord", @title = "پر کردن این فیلد اختیاری می باشد " })
            </td>
        </tr>

        <tr class="tr2">
            <td class="td1">متن پاسخ*:</td>
            <td class="td2"> @Html.TextArea("Comment1", "", new { @id = "Comment1", @onblur = JavaScript.StringValidation("Comment1", 1, 600) })</td>
        </tr>

        <tr class="tr1">
            <td class="td1"></td>
            <td class="td2">
                <input type="submit" value=" ارسال پاسخ"/>
            </td>
        </tr>

    </table>
    @*
            @Html.Label("ایمیل")
        @Html.TextBox("KeyWord", "", new { @id = "KeyWord" ,@title="پر کردن این فیلد اختیاری می باشد "})<br />

        @Html.Label("متن پاسخ")<br />
        @Html.TextArea("Comment1","", new {  @id = "Comment1", @onblur = JavaScript.StringValidation("Comment1", 1, 600) })<br />

        <input type="submit" value=$#$# " ارسال پاسخ");<br />*@

}

}
