@model DataLayer.EF.BusinessOwner

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>حذف فروشنده</h4>

<h3>آیا مطمن هستید که می خواهید این فروشنده رو حذف کنید?</h3>
<div>
    <h4>BusinessOwner</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeActivity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeActivity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WordKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WordKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NationalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NationalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebSiteAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebSiteAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhatsApp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhatsApp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstaOrOtherSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstaOrOtherSocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentPorsantAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentPorsantAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeSells)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeSells)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeShippingBussinessOwner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeShippingBussinessOwner)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkMarketerNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkMarketerNavigation.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkProvinceNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkProvinceNavigation.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkUserNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkUserNavigation.Mobile)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">برگشت به لیست</a>
    </form>
</div>
