@using DataLayer.Contract
@using DataLayer.Enums
@using DataLayer.EF

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href=" @Url.Content("~/Content/style/whole.css")" rel="stylesheet" type="text/css" />
    <link href=" @Url.Content("~/Content/style/StyleTopMenu.css")" rel="stylesheet" type="text/css" />
    <link href="  @Url.Content("~/Content/style/jquery.calendars.picker.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.min-3.5.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min-3.6.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jTopMenu.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Total.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery.calendars.all.js")" type="text/javascript"></script>
</head>
<body>
    @*<img alt="" id="Loding"  src='@Url.Content("~/Images/ajaxLoader.gif")'  style="display: none;"/>*@
    @* <img id="Loding" src="@Url.Content("~/Images/ajaxLoader.gif")" "/>*@
    @*<div id="Loding" style="display: none;"><span>در حال بار گذاری  ...</span> </div>
        <add namespace="MvcSiteMapProvider.Web.Html" />
        <add namespace="MvcSiteMapProvider.Web.Html.Models" />*@
    <div id="UsVie">
        @Html.Partial("Header")
        @*@Html.MvcSiteMap().SiteMapPath()*@

        @RenderBody()
    </div>
    @Html.Partial("Footer")
</body>
</html>
