@using DataLayer.Contract
@using DataLayer.EF
@using ServiceLayer
@using System.ComponentModel.DataAnnotations
@using DataLayer.Enums
@using UILayer.Miscellaneous
@using UILayer.Views
@using Utility
@using UILayer.Controllers
@using DataLayer
@using System.IO
@using Microsoft.AspNetCore.Http
@model Product

@{
    int FK_Marketer = (ViewData["FK_Marketer"] != null ? (int)ViewData["FK_Marketer"] : 0);
    //    <img  class="img" alt="@Model.Name" src="@Url.Content('~' + @Model.Image)" />

    AppSetting appSetting = new AppSetting();
}

    <div class="col-lg-3 col-md-4 col-12 ">
        <article class="single_product">
            <figure>
                <div class="product_thumb">
                    <a class="primary_img" href="@Url.Action("AEntityClient", "Product", new { nameForUrl=Model.NameForUrll }, "https")"><img src="@(Model.Image.GetUrlListImgUI())" alt="@Model.Name"></a>
                    <a class="secondary_img" href="@Url.Action("AEntityClient", "Product", new { nameForUrl=Model.NameForUrll }, "https")"><img src="@(Model.Image1.GetUrlListImgUI())" alt="@Model.Name"></a>
                    <div class="label_product">
                        <span class="label_sale">فروش</span>
                    </div>
                    <div class="action_links">
                        <ul>
                            <li class="wishlist"><a href="@Url.Action("AddWishlist", "Wishlist", new { productId=Model.Id})" title="افزودن به علاقه‌مندی‌ها"><i class="ion-android-favorite-outline"></i></a></li>
                            <li class="compare"><a href="#" title="افزودن به مقایسه"><i class="ion-ios-settings-strong"></i></a></li>
                            <li class="quick_button"><a href="#" data-toggle="modal" onclick="TSrenderHtmlModal(@Model.Id );" data-target="#modal_box" title="نمایش سریع"><i class="ion-ios-search-strong"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="product_content grid_content">
                    <div class="product_content_inner">
                        <h4 class="product_name">
                        <a href="@Url.Action("AEntityClient", "Product", new {nameForUrl=Model.NameForUrll }, "https")"> @Model.Name </a></h4>
                        <div class="product_rating">
                            <ul>
                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                            </ul>
                        </div>
                        <div class="price_box">
                            @Html.Raw(Model.OldPrice() )
                            <span class="current_price">@(Model.Price.decimalToDigMony()) @UIUtility.ResourceManager.GetString("Price")</span>
                        </div>
                    </div>
                    <div class="add_to_cart">
                        <a href = "#" data-toggle="modal" onclick="TSrenderHtmlModal(@Model.Id );" data-target="#modal_box" title="افزودن به سبد">افزودن به سبد</a>
                        </div>
                </div>
                <div class="product_content list_content">
                    <h4 class="product_name"><a href="@Url.Action("AEntityClient", "Product", new { nameForUrl=Model.NameForUrll}, "https")">@Model.Name</a></h4>
                    <div class="product_rating">
                        <ul>
                            <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                            <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                            <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                            <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                            <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="price_box">
                        @Html.Raw(Model.OldPrice())
                        <span class="current_price">@(Model.Price.decimalToDigMony()) </span>
                    </div>
                    <div class="product_desc">
                        <p>@(Model.Discription.GetLenghStr(150) )</p>
                    </div>
                    <div class="add_to_cart">
                        <a href="#"data-toggle="modal" onclick="TSrenderHtmlModal(@Model.Id );" data-target="#modal_box" title="افزودن به سبد">افزودن به سبد</a>
                    </div>
                    <div class="action_links">
                        <ul>
                            <li class="wishlist"><a href="@(Url.Action("AddWishlist", "Wishlist",new{productId=Model.Id}))" title="افزودن به علاقه‌مندی‌ها"><i class="ion-android-favorite-outline"></i> افزودن به علاقه‌مندی‌ها</a></li>
                            <li class="compare"><a href="#" title="افزودن به مقایسه"><i class="ion-ios-settings-strong"></i> مقایسه</a></li>
                            <li class="quick_button"><a href="#" data-toggle="modal" onclick="TSrenderHtmlModal(@Model.Id );" data-target="#modal_box" title="نمایش سریع"><i class="ion-ios-search-strong"></i></a></li>

                        </ul>
                    </div>
                </div>
            </figure>
        </article>
    </div>

